@font-face {
  font-family: Gotham;
  src: url(../fonts/Gotham_Book.otf);
}

$primary-text-colour: #000000;
$secondary-text-colour: #FFFFFF;
$caption-text-colour: #979797;
$background-text-colour: #408DDC;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  font-size: 16px;
}

.header {
  position: relative;
  color: $secondary-text-colour;
  background-color: $background-text-colour;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
    gap: 30px;
  }

  &__info {
    font-family: Gotham, sans-serif;
    font-weight: 300;

    &--title {
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.12em;
      letter-spacing: 2px;
      margin-bottom: 5px;
    }

    &--subtitle {
      text-align: center;
      font-size: 0.8rem;
      line-height: 1.5em;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }

    &--description {
      font-size: 1rem;
      line-height: 1.5em;
      letter-spacing: 0.5px;
    }
  }
}

.wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;

  &__subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 40px 0 20px;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5em;
  }

  &__img {
    margin: 35px auto 0;

    &:nth-of-type(6) {
      margin: 9px auto;
    }
  }

  &__link {
    color: $background-text-colour;
  }

  &__table {
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 3fr 9fr;

    &__item {
      border-bottom: 1px solid rgba($color: $caption-text-colour, $alpha: 0.5);
      padding: 10px 4px;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }

    & small {
      display: block;
      font-size: 0.8rem;
      margin: 5px 0;
    }
  }

  .caption {
    text-align: right;
    font-size: 0.8rem;
    color: $caption-text-colour;
    margin-top: 20px;
  }

  &__caption {
    font-size: 0.7rem;
    line-height: 1.5em;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__logo {
      width: 60px;
    }

    &__wrapper {
      padding: 60px 90px;
    }

    &__info {
      &--title {
        font-size: 1.8rem;
      }

      &--subtitle {
        font-size: 1rem;
      }

      &--description {
        font-size: 1.1rem;
      }
    }

    &__img {
      max-width: 80%;
    }
  }

  .article {
    &__subtitle {
      font-size: 1.8rem;
    }

    &__description {
      font-size: 1.1rem;
    }

    &__img {
      margin: 60px auto 0;

      &:nth-of-type(1) {
        margin: 100px auto 15px;
      }

      &:nth-of-type(6) {
        margin: 18px auto 9px;
      }
    }

    &__table {
      font-size: 1.1rem;

      & small {
        font-size: 0.9rem;
      }
    }

    .caption {
      font-size: 0.9rem;
    }

    &__caption {
      font-size: 1.1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__logo {
      width: 60px;
    }

    &__wrapper {
      flex-direction: row;
    }

    &__info {
      &--title {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      &--subtitle {
        font-size: 1.2rem;
      }

      &--description {
        font-size: 1.3rem;
      }
    }

    &__img {
      max-width: 50%;
    }
  }

  .article {
    &__subtitle {
      font-size: 2rem;
    }

    &__description {
      font-size: 1.3rem;
    }

    &__table {
      font-size: 1.3rem;

      & small {
        font-size: 1rem;
      }
    }

    .caption {
      font-size: 1rem;
    }

    &__caption {
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &__logo {
      width: 80px;
    }

    &__wrapper {
      flex-direction: row;
      padding: 60px 120px;
    }

    &__info {
      &--title {
        font-size: 2.2rem;
      }

      &--subtitle {
        font-size: 1.3rem;
      }

      &--description {
        font-size: 1.5rem;
      }
    }
  }

  .article {
    &__subtitle {
      font-size: 2.2rem;
    }

    &__description {
      font-size: 1.5rem;
    }

    &__table {
      font-size: 1.5rem;

      & small {
        font-size: 1.2rem;
      }
    }

    .caption {
      font-size: 1.2rem;
    }

    &__caption {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__wrapper {
      max-width: 85%;
      flex-direction: row;
      margin: 0 auto;
    }

    &__info {
      &--title {
        font-size: 2.5rem;
      }

      &--subtitle {
        font-size: 1.5rem;
      }

      &--description {
        font-size: 1.7rem;
      }
    }

    &__img {
      max-width: 60%;
    }
  }

  .article {
    &__subtitle {
      font-size: 2.5rem;
    }

    &__description {
      font-size: 1.7rem;
    }

    &__table {
      font-size: 1.7rem;

      & small {
        font-size: 1.4rem;
      }
    }

    .caption {
      font-size: 1.4rem;
    }

    &__caption {
      font-size: 1.7rem;
    }
  }
}