@font-face {
  font-family: Gotham;
  src: url(../fonts/Gotham_Book.otf);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 10px;
  width: 1920px;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #408DDC;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 240px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.header__info {
  font-family: Gotham, sans-serif;
  font-weight: 300;
}

.header__info--title {
  font-size: 5em;
  line-height: 1.12em;
  letter-spacing: 2px;
}

.header__info--subtitle {
  font-size: 3.6em;
  line-height: 1.5em;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.header__info--description {
  font-size: 1.6em;
  line-height: 1.625em;
  letter-spacing: 0.5px;
}

.header__img {
  width: 689px;
  height: 510px;
}

.wrapper {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 68.75%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.article__subtitle {
  font-size: 5em;
  font-weight: 300;
  margin: 40px 0 20px;
}

.article__description {
  font-size: 2em;
  line-height: 1.5em;
}

.article__img {
  align-items: center;
  width: calc(1920 - 68.75%);
  height: auto;
  margin: 66px auto 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.article__img:nth-of-type(1) {
  margin: 100px auto 15px;
}

.article__img:nth-of-type(5) {
  margin: 60px auto 0;
}

.article__img:nth-of-type(6) {
  margin: 69px auto 9px;
}

.article__link {
  color: #408DDC;
}

.article__table {
  font-size: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
  grid-template-columns: 3fr 9fr;
}

.article__table__item {
  padding: 10px 4px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

.article__table__item:nth-last-child(1), .article__table__item:nth-last-child(2) {
  border-bottom: none;
}

.article__table small {
  font-size: 0.8em;
  display: block;
  margin: 5px 0;
}

.article .caption {
  font-size: 2em;
  margin-top: 20px;
  text-align: right;
  color: #979797;
}

.article__caption {
  font-size: 2em;
  line-height: 1.5em;
  margin-left: 20px;
}

@media all and (max-width: 1440px) {
  body {
    font-size: 7.5px;
    width: 1440px;
    max-width: 100%;
  }

  .header {
    height: 597px;
  }

  .header__logo {
    width: 60px;
    height: 180px;
  }

  .header__info {
    width: 439px;
  }

  .header__img {
    width: 517px;
    height: auto;
  }

  .article__img {
    width: 990px;
  }

  .article__description {
    font-size: 2.1em;
  }
}

@media all and (max-width: 1280px) {
  body {
    font-size: 6.7px;
    width: 1280px;
    max-width: 100%;
  }

  .header {
    height: 530px;
  }

  .header__logo {
    width: 53px;
    height: 160px;
  }

  .header__info {
    width: 390px;
  }

  .header__img {
    width: 459px;
    height: auto;
  }

  .article__img {
    width: 880px;
  }
}

@media all and (max-width: 1024px) {
  body {
    font-size: 5.3px;
    width: 1024px;
    max-width: 100%;
  }

  .header__wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60vw;
    max-width: 365px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    row-gap: 20px;
  }

  .header__logo {
    width: 42.5px;
    height: 127px;
  }

  .header__info {
    width: 60vw;
    max-width: 365px;
  }

  .header__img {
    width: 365px;
    height: auto;
  }

  .article__img {
    width: 704px;
  }
}

/*# sourceMappingURL=style.css.map */
