@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@font-face {
  font-family: Gotham;
  src: url(../fonts/Gotham_Book.otf);
}

$primary-text-colour: #000000;
$secondary-text-colour: #ffffff;
$caption-text-colour: #979797;
$background-text-colour: #408ddc;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 1920px;
  width: 1920px;
  font-size: 10px;
}

.header {
  background-color: $background-text-colour;
  max-width: 1920px;
  height: 796px;
  position: relative;
  color: $secondary-text-colour;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__info {
    font-family: Gotham;
    font-weight: 300;
    width: 585px;
    margin-right: 35px;

    &--title {
      font-size: 5em;
      line-height: 1.12em;
      letter-spacing: 2px;
    }

    &--subtitle {
      font-size: 3.6em;
      line-height: 1.5em;
      margin-bottom: 45px;
      letter-spacing: 4px;
    }
    &--description {
      font-size: 1.6em;
      line-height: 1.625em;
      letter-spacing: 0.5px;
    }
  }

  &__img {
  }
}

.wrapper {
  max-width: 68.75%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;

  &__subtitle {
    font-size: 5em;
    margin: 40px 0 20px;
    font-weight: 300;
  }

  &__description {
    font-size: 2em;
    line-height: 1.5em;
  }

  &__img {
    align-items: center;
    margin: 66px auto 50px;

    &:nth-of-type(1) {
      margin: 100px auto 15px;
    }

    &:nth-of-type(5) {
      margin: 60px auto 0;
    }

    &:nth-of-type(6) {
      margin: 69px auto 9px;
    }
  }

  &__link {
    color: $background-text-colour;
  }

  &__table {
    display: grid;
    grid-template-columns: 3fr 9fr;
    font-size: 2em;

    &__item {
      padding: 10px 4px;
      border-bottom: 1px solid rgba($color: $caption-text-colour, $alpha: 0.5);

      &:nth-last-child(1),
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }

    & small {
      // color: $caption-text-colour;
      display: block;
      margin: 5px 0;
      font-size: 0.6em;
    }
  }

  .caption {
    margin-top: 20px;
    text-align: right;
    font-size: 1.5em;
    color: $caption-text-colour;
  }

  &__caption {
    margin-left: 20px;
    font-size: 2em;
    line-height: 1.5em;
  }
}
